# see https://pypi.org/project/ansible-core/
ansible-core==2.16.4

# see https://pypi.org/project/ansible-lint/
ansible-lint==24.2.1

# community.vmware collection dependencies.
# see https://pypi.org/project/pyvmomi/
# see https://github.com/ansible-collections/community.vmware/blob/main/requirements.txt
pyvmomi==8.0.2.0.1
git+https://github.com/vmware/vsphere-automation-sdk-python.git@v8.0.2.0
