# see https://pypi.org/project/ansible-core/
ansible-core==2.21.1

# see https://pypi.org/project/ansible-lint/
ansible-lint==26.6.0

# community.vmware collection dependencies.
# see https://github.com/ansible-collections/community.vmware/blob/main/requirements.txt
vcf-sdk==9.1.0.0
